@import "Color.module.scss";
@import "Text.module.scss";

.container{
  position: relative;
}
.btnBefore,.btnNext{
  z-index: 2;
  border-radius: 100%;
  //background-color: whitesmoke;
  background: rgba(255, 255, 255, 0.8);
}
.btnBefore{
  position: absolute;
  top: 50%;
  left: 1.7em;
}
.btnNext{
  position: absolute;
  top: 50%;
  right: 1.7em;
}
