@import "Text.module.scss";

.wrap{
  display: flex;
}

.hrBold {
  border: none;
  height: 1px;
  background-color: #888888;
}


//썸네일 이미지
.img {
  width: 100%;
  height: 100%;
  object-fit: cover; //정사각형 crop
}

