//@import "~bootstrap/dist/css/bootstrap"

//@import "~bootstrap/scss/variables";
//@import 'bootstrap/dist/css/bootstrap.min.css'
//@import "node_modules/bootstrap/scss/bootstrap.scss";

$color-info: #17a2b8;
$color-info-light: #efd261;
$color-warning: #ffc107;
$color-shadow: #2f2f2f;
$color-noti: #dc3545;

$color-secondary-light: #e2e3e5;
$color-secondary-light-border: #d6d8db;

//$color-secondary

$text-small: small;


//#e2e3e5
//#d6d8db
